.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.ModalWindow {
    display: grid;
    width: 330px;
    max-width: 400px;
    position: absolute;
    height: 90%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(96, 95, 173);
    border-radius: 32px;
    background: rgba(0, 2, 128, 0.4);
    max-height: 80vh;
    overflow-y: auto;
    user-select: none;
    outline: none;
}

.ModalWindow::-webkit-scrollbar {
    display: none;
}